# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/
.pythonlibs/

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Secrets
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
